<div class="flex items-center justify-between">
  <div class="cursor-pointer left-arrow">
    <%= image_tag('circle.svg', alt: 'left arrow')%>
  </div>
  <div class="font-bold">
    <%= I18n.t("date.month_names")[Date.today.month].capitalize %> / <%= Date.today.year %>
  </div>
  <div class="cursor-pointer right-arrow">
    <%= image_tag('circle.svg', alt: 'right arrow', style: 'transform: rotate(180deg)')%>
  </div>
</div>
